.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Navbar */

/* shopsection */
.hero{
  position: relative;
}

.faAngleRight{
  color: white;
  transform: scale(5);
  position: absolute;
  top:50%;
  right:2%;
  cursor: pointer;
 
}
.faAngleLeft{
  color: white;
  transform: scale(5);
  position: absolute;
  top:50%;
  left:2%;
  cursor: pointer;
}


.card-image{
  background-size: cover;
}
/* shopsection end */

/* footer */
.footer{
  background-color:green;
  text-align:center;
  color:white;
  height:10vh;
}
/* footer end */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
